* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Lexend', system-ui;
}

:root {
  --bg-color: #fff;
  --text-color: #000;
  --main-color: #f0f0f0;
  --other-color: #01873b;
  --second-color: #616060;

  --h1-font: 5.5rem;
  --h2-font: 3.5rem;
  --p-font: 1rem;

  --carrot-color: orange;
  --carrot-hover-color: darkorange;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background: var(--bg-color);
  box-shadow: 0 1px 6px 0 rgba(32 33 36 / 5%);
  padding: 18px 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.6s;
}

.logo {
  font-size: 33px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--text-color);
}

.navlist {
  display: flex;
}

.navlist a {
  display: inline-block;
  margin: 0 30px;
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--text-color);
  transition: all 0.6s;
}

.navlist a:hover {
  transform: translateY(4px);
  color: var(--second-color);
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right a {
  display: inline-block;
  font-size: 22px;
  color: var(--text-color);
  margin: 0 20px;
  transition: all 0.6s;
}

.nav-right a:hover {
  transform: translateY(-5px) scale(1.1);
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  margin-left: 10px;
  cursor: pointer;
  display: none;
}

section {
  padding: 90px 14% 70px;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url('https://img.freepik.com/premium-photo/pile-fruits-vegetables-white-background_888757-831.jpg?w=1380');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-text {
  padding-top: 60px;
}

.home-text h1 {
  font-size: var(--h1-font);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
}

.home-text p {
  width: 100%;
  max-width: 560px;
  font-size: var(--p-font);
  font-weight: 400;
  color: var(--second-color);
  line-height: 33px;
  margin-bottom: 35px;
}

.btn {
  display: inline-block;
  padding: 14px 42px;
  background: var(--carrot-color);
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  position: relative;
  border: none;
  transition: all 0.6s ease;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn::before {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 20px solid var(--carrot-color);
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}

.btn:hover {
  background: var(--carrot-hover-color);
  color: var(--text-color);
}

.btn:hover::before {
  border-left-color: var(--carrot-hover-color);
}

.newsletter-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  background: var(--text-color);
  padding: 60px 70px;
  border-radius: 28px;
}

.newsletter-text h2 {
  color: var(--bg-color);
  font-size: 40px;
  font-weight: 800;
}

.newsletter-text p {
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--bg-color);
}

.newsletter-content form {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  gap: 1rem;
}

.newsletter-content form input:first-child {
  border: none;
  outline: none;
  padding: 15px;
  background: var(--bg-color);
  font-size: var(--p-font);
  color: var(--text-color);
  border-radius: 5px;
}

.newsletter-content form input:last-child {
  border-radius: 5px;
  font-size: var(--p-font);
  cursor: pointer;
}

/*footer*/

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, auto));
  gap: 2rem;
  background: var(--other-color);
}

.footer-box {
  display: flex;
  flex-direction: column;
}

.footer-box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-box p {
  color: var(--bg-color);
}

.footer-box a {
  color: var(--bg-color);
  margin-bottom: 0.8rem;
  transition: all 0.6s;
}

.footer-box a:hover {
  transform: translateY(-5px);
  color: var(--text-color);
}

.social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background: var(--text-color);
  color: var(--bg-color);
  font-size: 17px;
  border-radius: 10px;
  margin-right: 14px;
  transform: transform 0.6s;
}

.social a:hover {
  transform: rotate3d(0, 0, 1, 360deg) scale(1.06);
  color: var(--bg-color);
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 14% 20px;
}

.end-text p {
  font-size: 15px;
}

.end-image img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

@media (max-width: 1610px) {
  header {
    padding: 15px 7%;
  }
  section {
    padding: 70px 7% 80px;
  }
  .brands {
    padding: 20px 7%;
  }
  .feature {
    padding: 10px 7% 10px;
  }
}

@media (max-width: 1500px) {
  .home {
    height: 90vh;
  }

  :root {
    --h1-font: 4.8rem;
    --h2font: 2.8rem;
    --p-font: 15px;
  }
}

@media (max-width: 1170px) {
  header {
    padding: 10px 4%;
  }
  section {
    padding: 60px 4% 60px;
  }
  .brands {
    padding: 10px 4%;
  }
  .feature {
    padding: 10px 4% 10px;
  }
  .feature-content {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
  .newsletter-content {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
  .selling-content {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
}

@media (max-width: 1050px) {
  #menu-icon {
    display: block;
  }

  .navlist {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 40px 60px;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    transition: all 0.5s ease;
  }

  .navlist a {
    display: block;
    color: #979797;
    padding: 0;
    font-size: 2rem;
    font-weight: 400;
  }

  .navlist.open {
    left: 0;
  }

  :root {
    --h1-font: 4.5rem;
    --h2font: 2.6rem;
  }
  .logo {
    font-size: 20px;
  }
  .brands {
    padding: 40x 4%;
  }
  .main-brands {
    gap: 25px;
  }
  .brands-c img {
    width: 100%;
    max-width: 100px;
    height: auto;
  }
  .newsletter-content form input:first-child {
    padding: 8px;
  }
  .newsletter-content form input:first-child {
    font-size: 12px;
  }
}

@media (max-width: 530px) {
  :root {
    --h1-font: 3.5rem;
    --h2font: 2.2rem;
  }
  .btn {
    padding: 12px 20px;
  }
  .nav-right a {
    padding-right: 7px;
  }
}

/* SHOP CSS*/
/* SHOP CSS*/
/* SHOP CSS*/

.img-header {
  position: relative;
  text-align: center;
}

.img-header img {
  width: 100%;
  height: 320px;
}

.promo-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  color: var(--main-color);
  background-color: var(--other-color);
  border-radius: 0.5rem;
  width: 30em;
  opacity: 95%;
  font-size: 2em;
}

.promo-text a {
  text-decoration-line: underline;
  color: rgba(76, 238, 84, 0.76);
}

.shop-nav {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  gap: 10px;
}

.shop-nav input[type='radio'] {
  display: none;
}

.shop-nav label {
  background-color: var(--main-color);
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.shop-nav input[type='radio']:checked + label {
  background-color: var(--carrot-color);
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.shop-nav label:hover {
  background-color: var(--carrot-hover-color);
  color: white;
}

.searchBar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  margin-left: 20px;
  font-size: 16px;
}

.searchBar:focus {
  border-color: #007bff;
  outline: none;
}

.searchBar::placeholder {
  color: #aaa;
  font-style: italic;
}

/* PRODUCTS CARD */
.products {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.products .product-cards {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.11);
  transition: 0.5s ease;
  overflow: hidden;
  border-radius: 0.8rem;
}

.products .product-cards:hover {
  transform: scale(1.04);
}

.products .product-cards img {
  width: 300px;
  height: 300px;
}

.products .button {
  display: flex;
}

.products .button button {
  background-color: var(--other-color);
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 50%;
  height: 5rem;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}
.product-cards span del {
  text-decoration: line-through;
}

.products .button button:hover {
  background-color: var(--main-color);
  color: var(--text-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/* RECIPE IDEAS CSS */
/* RECIPE IDEAS CSS */
/* RECIPE IDEAS CSS */
.recipes {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}
.recipe-card {
  margin-top: 3rem;
  border-radius: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.recipe-card h1,
.recipe-card img {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.recipe-card img {
  width: 600px;
  height: 400px;
}
.recipe-card h1 {
  color: var(--carrot-color);
  font-size: var(--h2-font);
  margin-bottom: 2rem;
}
.recipe-card h2 {
  color: var(--other-color);
  font-size: 2.5rem;
  margin-top: 1rem;
  padding: 2rem;
}
.recipe-card:nth-of-type(even) h2 {
  color: var(--carrot-color);
}
.recipe-card p {
  margin-left: 5rem;
}
.recipe-card .description {
  font-size: 1.1rem;
}
.recipe-card ul {
  margin-left: 10rem;
}
.recipe-card ul li {
  list-style-type: disc;
  padding: 1rem;
}

/* FAQ CSS */
/* FAQ CSS */
/* FAQ CSS */

.faq {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.faq div {
  width: 80vw;
  display: block;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.116);
}
.faq div pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.faq div h1 {
  margin-bottom: 1rem;
}
.faq div h4 {
  margin-bottom: 0.4em;
}
.faq div p {
  margin-bottom: 0.4em;
  margin-left: 1.5em;
}

/*About Us CSS */
/*About Us CSS */
/*About Us CSS */

.about-us {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.about-us .contents h1 {
  font-size: 4rem;
  color: var(--carrot-color);
}
.about-us .contents h2 {
  font-size: 4rem;
  color: var(--other-color);
}
.about-us div p {
  color: var(--second-color);
}
.about-us div li {
  color: var(--second-color);
}
.about-us div img {
  height: 600px;
  width: 700px;
}
.about-us .contents p {
  margin: 10px;
}
.about-us .contents ul li {
  margin: 10px;
}

@media (max-width: 768px) {
  .promo-text {
    width: 80vw;
    font-size: 1em;
  }

  .shop-nav {
    flex-wrap: wrap;
    margin: 1rem;
    gap: 2rem;
  }

  .products {
    justify-content: center;
    align-content: space-around;
  }
  .product-cards {
    margin-top: 1rem;
  }

  .recipe-card img {
    width: 300px;
    height: 200px;
  }

  .recipe-card h1 {
    font-size: 2rem;
  }
  .recipe-card h2 {
    font-size: 1.4rem;
  }
  .recipe-card .description {
    margin-left: 2px;
  }
  .recipe-card ul {
    padding: 5px;
    margin-left: 4rem;
  }

  .about-us div img {
    width: 450px;
    height: 350px;
  }
  .about-us .contents h1 {
    font-size: 3rem;
  }
  .about-us .contents h2 {
    font-size: 3rem;
  }
  .faq {
    height: 100%;
    text-align: center;
  }
  .main-check .checkout-card {
    width: 70%;
    height: 70vh;
  }
}

@media (max-width: 1387px) {
  .products {
    justify-content: space-evenly;
  }

  .promo-text {
    font-size: 1.5em;
  }
  .about-us {
    margin-bottom: 5rem;
    margin-top: 10rem;
    flex-direction: column;
  }
  .faq {
    margin: 2rem 0;
  }
}
